a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: rgba(0,60,160,0.5)
}

.img-responsive {
    alt: "Becoming Who We Are Album Cover";
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    min-height: 275px;
    min-width: 275px;
}

#albumCover {
    
    background: black url(http://images.musictimes.com/data/images/full/12221/kings-kaleidoscope-becoming-who-we-are.jpg) no-repeat;
    background-size: 100%;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 30vw;
    min-width: 250px;
    min-height: 250px;
}

.table-responsive {
    background-color:rgba(202,202,202,0.4);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
    text-align: center;
}

.table-responsive tr, td {
    padding: 7px;
    font-style: italic;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(20,20,20,0.4);
}


body {
    background: #222 url("http://www.lanlinglaurel.com/data/out/76/4584973-music-wallpaper-hd.png") repeat-y fixed;
    background-position: left bottom;
    background-size: 100%;
}

.coolText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.coolerText {
    color: white;
    font-family: 'Barrio', Arial, Helvetica, sans-serif;
    text-align: center;
}

li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    margin-left: 12%;
}

#tableTopRow {
    background-color:rgba(66,66,66,0.8);
    color: white;
    font-size: 1.1em;
}

#topRowText {
    text-align: center;
    padding: 4px 10px;
}

#tableContentRows {
    color: black;
    border: 3px solid rgba(0,0,0,0.1);
    border-collapse: none;
}