a {
    color: yellow;
}

a:visited {
    color: orange;
}

a:hover {
    color: yellow;
    font-weight: bold;
}

a:active {
    text-decoration: none;
}

body {
    background: url("https://i5.walmartimages.com/asr/1511d80b-d400-4ee1-8e79-543c05e80cf9_1.9d2b51976d3a679968956c8f59a4b9c9.jpeg");
    background-size: 5vw 5vw;
}

.navBar { 
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/64/9e/2f/649e2fb5ea94003511cd47b5ac154cdb.jpg");
    border-bottom: .2vw solid darkred;
    color: white;
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
}

.nav-tabs {
    border-bottom: none;
    padding-left: 12px;
    font-weight: bold;
    font-size: 16px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: yellow;
    border-color: orange;
}

.nav-tabs > li > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: orange;
}

.restaurantInfo { 
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/64/9e/2f/649e2fb5ea94003511cd47b5ac154cdb.jpg");
    border-top: .2vw solid darkred;
    color: white;
    font-size: 1.15em;
    padding: 5px;
    position: fixed;
	bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.container-fluid {
    background-color: #fdffd1;
    border: 10px solid #f2f918;
    min-height: 70vh;
    margin: 100px auto 60px auto;
    padding-right: 3%;
    padding-left: 3%;
    width:90%;
    max-width: 1200px;
}

.aboutUs {
    background-color: whitesmoke;
    width: 30vw;
    min-width: 225px; 
    border:2px solid black;
    margin-bottom: 50px;
}

.restaurantName {
    border-bottom: 3px solid black;
    margin: 0;
    width: 100%;
}

nav {
    padding: 10px;
}

h1 {
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
}

.carousel-caption {
  top:4vh;
}

.carousel-indicators > li {
  height: 4px;
  width: 30px;
  border-radius:0;
  margin: 3px;
}

.carousel-indicators > li.active {
  height: 4px;
  width: 30px;
  border-radius:0;
  margin: 3px;
}

#ourFood {
    background-image: url("http://blog.amadeusconsulting.com/wp-content/uploads/2013/07/YUMMY-FAST-FOOD-fast-food-33414957-1600-1200.jpg");
    background-position: top left;
    background-attachment: content-box;
    background-size: 100%;
    border:2px solid black;
    height: 22vw;
    width: 30vw;
    min-height: 140px;
    min-width: 225px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.panel {
	border: 1px solid black;
	border-radius: 0;
	margin-bottom: 0;
}

.panel-info {
    background-color: #fbffba;
    border: 1px solid black;
	margin: 30px 3% 30px 3%;
}

.panel-info > .panel-heading {
    color: white;
    background: black url("https://s-media-cache-ak0.pinimg.com/736x/64/9e/2f/649e2fb5ea94003511cd47b5ac154cdb.jpg") 100%;
    border-color: black;
	border-radius: 0;
	font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
}

.panel-danger {
    background-color: #fbffba;
    border: 1px solid black;
	font-size: 18px;
	margin: 30px 15% 30px 15%;
}

.panel-danger > .panel-heading {
    color: white;
    background: black url("https://s-media-cache-ak0.pinimg.com/736x/64/9e/2f/649e2fb5ea94003511cd47b5ac154cdb.jpg") 100%;
    border-color: black;
	border-radius: 0;
	font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
}

.panel-default {
    border: 1px solid black;
    border-collapse: collapse;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #db0000;
    border-color: black;
	border-radius: 0;
    font-size: 21px;
    font-weight: bold;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
}

.panel-body {
	text-align: center;
	background-color: #fbffba;
    padding: 5px;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

.panel-success {
	border: 1px solid black;
	text-align: center;
	background-color: #fbffba;
    padding: 5px;
}

.panel-warning {
    color: white;
    background-color: #db0000;
    border-color: black;
	border-radius: 0;
    font-weight: bold;
    text-align: center;
}

.col-lg-4, .col-lg-6, .col-md-4, col-md-6, .col-md-12, .col-sm-6, .col-sm-12, .col-xs-12 {
	padding: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
    overflow: hidden;
}

form {
    margin: 40px auto 50px auto;
    max-width: 350px;
}

textarea.form-control {
    height: 80px;
}

@media (max-width: 768px) {
    form {
        margin: 40px auto 50px auto;
        max-width: 200px;
    }
}